ul {
    padding: 0;
}
* {
    margin:0;
}
html{
    height:100%;
}
body{
   min-height: 100%;
    margin: 0;
        background-color: maroon;
}
#content {overflow: auto; background-color:maroon; padding-left:40px; padding-right:40px;}

#nav, #feature {
    
        margin: 1.2%;

}
.column1, .column2, .column3
{
        background-color: maroon;
width: 31.3%;
float: left;
margin: 1%;
}

.column3 {margin-right: 0%;}

#nav {
        background-color: maroon;
        padding: 0.4em;
}
#.article
{
        height: 300px;
        margin-bottom: 1em;
        background-color: maroon;
}
#map{
        margin-right: 1%;
        margin-left: 1%;
}
img{
        width: 425px;
        height: 500px;
}
h1{
        color: gold;
        font-style: italic;
}

h2{
        color: gold;
        font-size: larger;
        margin-left: 10%;
        margin-right: 10%;
        font: status-bar;
	padding-bottom:4px;
}
h3
{
color:solid black;

}
h4{
    color: gold;
}
h5{
        color: gold;
        font-size:small;

}
table{
        border: gold;
}

button {
    background-color: #f70505;
    border: black;
    color: #040404;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-style:italic;
    transition-duration: 0.2s;
}

button:hover{
                background-color: gold;
                color: black;
}
#map {

    border: solid-black;
}



